<style>
  .search-btn {
    background-color: rgb(221, 41, 41);
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: rgb(221, 41, 41);
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  .nav-auth {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav-auth:hover {
    border-radius: 10px;
    background-color: rgb(221, 41, 41);
    color: #fff;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-cable-car"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a> 
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destination">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b><button class="nav-auth">Signup</button></b></a>
          <a class="nav-link" href="/login"><b><button class="nav-auth">Login</button></b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b><button class="nav-auth">Logout</button></b></a>  
        <% } %>
      </div>
    </div>
  </div>
</nav>